<section fxLayout="column"
         fxLayoutAlign="center center">
  <div class="signup-form"
       fxLayout="row"
       fxLayoutAlign="center">
    <form fxLayout="row wrap"
          fxLayoutAlign="center center"
          fxFlex="0 0 25vw"
          fxFlex.lt-lg="0 0 35vw"
          fxFlex.lt-md="0 0 50vw"
          fxFlex.lt-sm="0 0 calc(100vw - 30px)"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)">
      <div class="form-header" fxFlex="100%">
        <h1>Создать аккаунт в ngToDo</h1>
        <span><a [routerLink]="'/signin'">или войти в существующий аккаунт</a></span>
      </div>
      <mat-form-field fxFlex="100%">
        <input type="email"
               matInput
               placeholder="Ваш Email"
               ngModel
               name="email"
               email
               required
               #emailInput="ngModel"
               autocomplete="email">
        <mat-error *ngIf="!emailInput.hasError('required') && emailInput.touched">
          Это не похоже на адрес электронной почты...
        </mat-error>
        <mat-error *ngIf="emailInput.hasError('required') && emailInput.touched">
          Нельзя оставлять это поле пустым.
        </mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Должен содержать не менее 6 символов." fxFlex="100%">
        <input type="password"
               matInput
               placeholder="Ваш пароль"
               ngModel
               name="password"
               minlength="6"
               required
               #passInput="ngModel"
               autocomplete="new-password">
        <mat-hint align="end">{{passInput.value?.length}} / 6</mat-hint>
        <mat-error>Пароль должен содержать не менее 6 символов.</mat-error>
      </mat-form-field>
      <button *ngIf="!isLoading"
              mat-raised-button
              color="primary"
              [disabled]="f.invalid">
        Создать новый аккаунт
      </button>
      <div class="uploader-status" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
    <span>C помощью сервиса</span>
    <button mat-button (click)="registerUserByGoogle()">
      <svg width="25" height="25" enable-background="new 0 0 25 25" id="Social_Icons" version="1.1"
           viewBox="0 0 128 128">
        <g id="_x31__stroke">
          <g id="Google">
            <rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="128" width="128"/>
            <path
              clip-rule="evenodd"
              d="M27.585,64c0-4.157,0.69-8.143,1.923-11.881L7.938,35.648    C3.734,44.183,1.366,53.801,1.366,64c0,10.191,2.366,19.802,6.563,28.332l21.558-16.503C28.266,72.108,27.585,68.137,27.585,64"
              fill="#FBBC05" fill-rule="evenodd"/>
            <path clip-rule="evenodd"
                  d="M65.457,26.182c9.031,0,17.188,3.2,23.597,8.436L107.698,16    C96.337,6.109,81.771,0,65.457,0C40.129,0,18.361,14.484,7.938,35.648l21.569,16.471C34.477,37.033,48.644,26.182,65.457,26.182"
                  fill="#EA4335" fill-rule="evenodd"/>
            <path clip-rule="evenodd"
                  d="M65.457,101.818c-16.812,0-30.979-10.851-35.949-25.937    L7.938,92.349C18.361,113.516,40.129,128,65.457,128c15.632,0,30.557-5.551,41.758-15.951L86.741,96.221    C80.964,99.86,73.689,101.818,65.457,101.818"
                  fill="#34A853"
                  fill-rule="evenodd"/>
            <path
              clip-rule="evenodd"
              d="M126.634,64c0-3.782-0.583-7.855-1.457-11.636H65.457v24.727    h34.376c-1.719,8.431-6.397,14.912-13.092,19.13l20.474,15.828C118.981,101.129,126.634,84.861,126.634,64"
              fill="#4285F4" fill-rule="evenodd"/>
          </g>
        </g>
      </svg>
      Зарегестрироваться с помощью Google
    </button>
    <button mat-button (click)="registerUserByGithub()">
      <svg enable-background="new 0 0 25 25" height="25" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="25"
           xml:space="preserve"><path clip-rule="evenodd" d="M16.003,0C7.17,0,0.008,7.162,0.008,15.997  c0,7.067,4.582,13.063,10.94,15.179c0.8,0.146,1.052-0.328,1.052-0.752c0-0.38,0.008-1.442,0-2.777  c-4.449,0.967-5.371-2.107-5.371-2.107c-0.727-1.848-1.775-2.34-1.775-2.34c-1.452-0.992,0.109-0.973,0.109-0.973  c1.605,0.113,2.451,1.649,2.451,1.649c1.427,2.443,3.743,1.737,4.654,1.329c0.146-1.034,0.56-1.739,1.017-2.139  c-3.552-0.404-7.286-1.776-7.286-7.906c0-1.747,0.623-3.174,1.646-4.292C7.28,10.464,6.73,8.837,7.602,6.634  c0,0,1.343-0.43,4.398,1.641c1.276-0.355,2.645-0.532,4.005-0.538c1.359,0.006,2.727,0.183,4.005,0.538  c3.055-2.07,4.396-1.641,4.396-1.641c0.872,2.203,0.323,3.83,0.159,4.234c1.023,1.118,1.644,2.545,1.644,4.292  c0,6.146-3.74,7.498-7.304,7.893C19.479,23.548,20,24.508,20,26c0,2,0,3.902,0,4.428c0,0.428,0.258,0.901,1.07,0.746  C27.422,29.055,32,23.062,32,15.997C32,7.162,24.838,0,16.003,0z" fill="#181616" fill-rule="evenodd"/>
      </svg>
      Зарегестрироваться с помощью GitHub
    </button>
  </div>
</section>
