<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" mode="over">
        <todo-sidenav (closeSidenav)="closeSidenav(sidenav)"></todo-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <todo-header (sidenavToggle)="onSidenavToggle(sidenav)"></todo-header>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
